<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configuration section-handler declaration area. -->
  <configSections>
    <section name="ObservingStations" type="ObservingStationsSection, Scatterthon" restartOnExternalChanges="false" />
  </configSections>
  <ObservingStations>
    <stations>
      <remove name="Default" />
      <add name="Demo" logs="C:\Scatterthon\Stations\Demo\logs" screenshots="C:\Scatterthon\Stations\Demo\screenshots" highResolutions="C:\Scatterthon\Stations\Demo\highlights" captureSpan="300" captureDelay="40" />
    </stations>
  </ObservingStations>
  <!--TODO: http://stackoverflow.com/questions/19947887/add-new-metadata-properties-to-a-file-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="defaultStation" value="Rmob_Issue" />
    <add key="annualTopMeteorCount" value="24" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>