<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="logOriginalPath" value="%appdata%\Northern Lights\Scatterthon\Logs\Original"/>
    <add key="logUpdatesPath" value="%appdata%\Northern Lights\Scatterthon\Logs\Cleansed"/>
    <add key="screenshotOriginalPath" value="%appdata%\Northern Lights\Scatterthon\Screenshots\Original"/>
    <add key="screenshotRemovePath" value="%appdata%\Northern Lights\Scatterthon\Screenshots\Removed"/>
    <add key="screenshotCopyPath" value="%appdata%\Northern Lights\Scatterthon\Screenshots\Copied"/>
    <add key="screenshotDelay" value="30"/>
    <add key="rmobOutputDirectory" value="%appdata%\Northern Lights\Scatterthon\Rmob"/>
    <add key="annualTopMeteorCount" value="24"/>
  </appSettings>
</configuration>
